<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gráfica con Vue y Chart.js</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <script type="module" src="./assets/js/main.js"></script>
</head>
<body>
  <div id="app" class="container">
    <h1 class="mt-3">Estadísticas de Eventos</h1>
    <div class="row mt-4">
      <div style="width: 600px">
        <ol><li v-for="myEvent in myEvents" :key="myEvent.name">{{ myEvent.name }}</li></ol>
        <h1>{{ chartTitle }}</h1>
        <button @click="switchChart('online')">Ver Gráfico Online</button>
        <button @click="switchChart('onsite')">Ver Gráfico Onsite</button>
        <button @click="switchChart('hybrid')">Ver Gráfico Hybrid</button>

        <bar-chart v-if="isDataLoaded"
                   :chart-data="chartData"
                   :chart-options="chartOptions"
                   :chart-title="chartTitle">
        </bar-chart>
      </div>
    </div>
  </div>
</body>
</html>
